# ignore xle folder

xle/*
resource_folders_old/*
frontend/last_running/*
grammars/*.fileindexdir
grammars/.#*
jars/old_versions/*

*.lfg
/grammars/*/*.fileindexdir/


/grammars/fracas_inference_grammar/main_fracas_grammar.lfg.fileindexdir/
